---
import { getCollection } from 'astro:content'

interface Props {
  activeTag?: string
}

const { activeTag } = Astro.props

const blogPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
)

const tagMap = new Map()

blogPosts.forEach((post) => {
  post.data.tags?.forEach((tag) => {
    tagMap.set(tag, (tagMap.get(tag) ?? 0) + 1)
  })
})

const tags = Array.from(tagMap, ([name, count]) => ({
  name,
  count,
})).sort((a, b) => b.count - a.count)
---

<ul class="tags">
  {
    tags.map((tag) => (
      <li>
        {tag.name === activeTag ? (
          <a
            href="/blog"
            class="tags__tag tags__active"
          >
            x {tag.name} ({tag.count})
          </a>
        ) : (
          <a
            href={`/blog/tag/${tag.name}`}
            class="tags__tag"
          >
            {tag.name} ({tag.count})
          </a>
        )}
      </li>
    ))
  }
</ul>

<style>
  .tags {
    list-style: none;
    margin: 16px 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .tags__tag {
    --outline-color: var(--primaryColorTwo);
  }

  .tags__active {
    background-color: var(--primaryColorTwo);
    color: var(--white);
    padding: 4px 6px;
  }
</style>
