---
import { getCollection } from 'astro:content'
import CallToAction from './CallToAction.astro'

interface Props {
  activeTag?: string
}

const { activeTag } = Astro.props

const blogPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
)

const tagMap = new Map()

blogPosts.forEach((post) => {
  post.data.tags?.forEach((tag) => {
    tagMap.set(tag, (tagMap.get(tag) ?? 0) + 1)
  })
})

const tags = Array.from(tagMap, ([name, count]) => ({
  name,
  count,
})).sort((a, b) => b.count - a.count)
---

<ul class="tags">
  {
    tags.map((tag) => (
      <li>
        {tag.name === activeTag ? (
          <CallToAction
            href="/blog"
            size="small"
            active
          >
            x {tag.name} ({tag.count})
          </CallToAction>
        ) : (
          <CallToAction
            href={`/blog/tag/${tag.name}`}
            size="small"
          >
            {tag.name} ({tag.count})
          </CallToAction>
        )}
      </li>
    ))
  }
</ul>

<style>
  .tags {
    --cta-margin-top: 0;
    list-style: none;
    margin: 16px 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
</style>
