---
import { getCollection } from 'astro:content'
import CallToAction from './CallToAction.astro'

interface Props {
  activeTag?: string
}

const { activeTag } = Astro.props

const blogPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
)

const tagMap = new Map()

blogPosts.forEach((post) => {
  post.data.tags?.forEach((tag) => {
    tagMap.set(tag, (tagMap.get(tag) ?? 0) + 1)
  })
})

const tags = Array.from(tagMap, ([name, count]) => ({
  name,
  count,
})).sort((a, b) => b.count - a.count)
---

<aside class="tags">
  <details
    class="tags__details"
    open
  >
    <summary>Tags:</summary>

    <ul class="tags__list">
      {
        tags.map((tag) => (
          <li>
            {tag.name === activeTag ? (
              <CallToAction
                href="/blog"
                size="small"
                active
              >
                x {tag.name} ({tag.count})
              </CallToAction>
            ) : (
              <CallToAction
                href={`/blog/tag/${tag.name}`}
                size="small"
              >
                {tag.name} ({tag.count})
              </CallToAction>
            )}
          </li>
        ))
      }
    </ul>
  </details>
</aside>

<style>
  .tags {
    @media (min-width: 1400px) {
      margin: 0;
      position: sticky;
      top: 40px;
    }
  }

  .tags__details {
    cursor: pointer;

    @media (min-width: 1400px) {
      margin-left: 40px;
      position: absolute;

      left: 100%;
      top: 0;
      width: 300px;
    }

    @media (min-width: 1600px) {
      width: 400px;
    }
  }

  .tags__list {
    --cta-margin-top: 0;
    list-style: none;
    margin: 16px 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
</style>
